
form{
background-image: url("https://wallpaperaccess.com/full/2447945.jpg");
text-align: center;
  margin: 100px;
  box-sizing: border-box;
  width: 75%;
  height:800px;
  font-size: large;
  font-family: "Agency FB";
}
